/* ===== BODY ===== */
body{
  background:#a9d7ea;
  font-family:"Times New Roman", Times, serif;
  margin:0;
  padding:12px 16px;
  color:#000;
}


/* ===== MAIN HEADER ===== */
h1{
  text-align:center;
  font-size:56px;
  margin:6px 0 12px 0;
  font-weight:700;
}


/* ===== SECTION HEADERS ===== */
h2{
  font-size:30px;
  margin:16px 0 6px 0;
  font-weight:700;
}

h3{
  font-size:16px;
  margin:12px 0 6px 0;
  font-weight:700;
}


/* ===== PARAGRAPH DEFAULT ===== */
p{
  font-size:12px;
  line-height:1.25;
  margin:10px 0;
}


/* ===== GREEN BOX PARAGRAPH ===== */
/* NOT full width, slightly left aligned */
#paragraph2{
  background:#ffffff;
  border:3px solid #138a24;   /* green */
  
  width:65%;                  /* smaller like example */
  margin:18px 0 18px
